@import url('https://fonts.googleapis.com/css?family=News+Cycle|Open+Sans');

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #212121;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: "News Cycle", Arial, sans-serif;
    color: #212121;
}

h1 {
    font-size: 38pt;
}

h2 { 
    font-size: 24pt;
}

h3 { 
    font-size: 20pt;
}

p {
    margin-top: 1;
}

b, strong {
    font-weight: bold;
}

i , em {
    font-style: italic;
}
sup {
    font-size: 10px; 
    vertical-align:top;
}

sub{
    font-size:10px; 
    vertical-align:bottom;
}

ul > li {
    list-style: circle inside;
}

ol > li {
    list-style: upper-roman inside;
}

form {
    background-color: #F44436;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    width: 80%;
    height: auto;
    text-align: center;
    line-height: 1.25;
}

legend{
    font-family: "News Cycle", Arial, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;

}

input{
    border-width: 0px;
    padding: 5px;
    margin: 7px 0px;
    width: 150px;
}

textarea {
    resize: none;
    font-family: "News Cycle", Arial, sans-serif;
    padding: 10px;
    border: 0px;
}

label{
    font-family: "News Cycle", Arial, sans-serif;
    font-size: 18px;
    display: inline-block;
    width: 130px;
    text-align: left;
}

.button{
     text-align: left;
     border-width: 0px;
     border-color: #202020;
     border-style: solid;
     background-color: #ffffff;
     color: #F44436;
     font-family: "News Cycle", Arial, sans-serif;
     font-size: 18px;
     margin: 7px 0px;
     padding: 3px 10px;
     width: auto;
}

.create {
    padding-left: 41px;
    padding-right: 42px;
    margin-left: 5px;
    margin-right: 5px;
}

.create-post{
    width: 500px;
}

textarea{
    font-size: 14px;
}

.custom-file-upload {
}

/* link */
header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out;
    font-size: 16px;
}

/* mouse over link */
header a:hover {
    color: #E25D48;
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out;
}

/* selected link */
header a:active {
    color: #E25D48;
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out;
}

a {
    color: #E25D48;
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out;
}

/* header CSS */
header {
    height: 100px;
    background-color: #212121;
    color: white;
}

#logo > img {
    height:80px;
    margin: 10px;
}

nav {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

.write-comment {
    width: 100%;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #212121;
    line-height: 1.5;
    padding: 5px;
    border-color: #212121;
}

.comment-writing {
    float: right;
    width: calc(100% - 120px);
    margin-bottom: 20px;
}

.poster-pic {
    float: left;
}

.comment {
    min-height: 150px; 
    clear: both;
}

.comment-button {
    background-color: #F44436;
    color: white;
}

.message {
    padding-left: 120px;
    padding-top: 10px;
}

.profile-pic {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.poster-details {
    float: left;
    height: 100%;
    padding-top: 15px;
}

main {
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 10%;
    padding: color #212121;
    text-align: justify;
    min-width: 790px;
    width: 80%;
}

/* footer css */

footer {
    padding: 15px;
    background-color: #212121;
    color: white;
    float: bottom;
    font-size: 14px;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}

footer ul li{
    display: inline-block;
    padding-left:4px; 
    padding-right:4px;
    font-size: 12px;
    border-left:2px dotted black;
}

/* for content page */

.post-content {
  width: 1000px;
  position: relative;
}

.post-image {
    width: 618px;
    height: 618px;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100px;
    background-position: center;
}

.post-description {
  margin: 500px 381px 20px 640px;
  height: 150px;
  width: 350px;
}

.profile-image {
        border-radius: 32px;
        display: block;
        width: 100px;
        height: 155px;
}

.profile-image img {
  width: 60px;
  height: 60px;
}

.newsfeed-image {
	width: 500px;
	border: 2px dashed #E25D48;
        margin: 8px;
        display: inline-block;
}

.newsfeed-image img {
        width: 480px;
        padding: 8px;
}

.map-placeholder {
    height: 376px;
    width: 376px;
    overflow: hidden;
    top: 100px;
    right: 0px;
    position: absolute;
}

.profile-pic {
    vertical-align: center;
}

.profile-image {
    width: 155px;
    height: 155px;
}

.username{
    font-size: 24pt;
    font-family: "News Cycle", Arial, sans-serif;
    color: #212121;
    position: absolute;
    top: 5px;
    left: 60px;
    width: 290px;
    margin-left: 10px;
}

.history {
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 2px dashed #E25D48;
    clear: left;
}

.post-title{
    font-family: "News Cycle", Arial, sans-serif;
    color: #212121;
    text-decoration: bold;
    font-size: 38pt;
}

.profile-positioning{
    width: 100px;
    position: absolute;
    left: 640px;
    top: 500px;
}

.profile-description{
    padding-left: 30px;
    padding-top: 0px;
    text-align: justify;
    overflow: auto;
    margin-top: 20px;
    width: 220px;
    height: 450px;
    float: left;
}

/* styling for the invalid user message */
#invUsr{
    margin-top: 50px;
}

/* delete the two below if doesn't work */
/* edit the left margin to be auto - right now is like 3 px off */
#describe_label{
    margin-left: -169px;
}

.usr_describe{

}

.comment-form {
    width: 100%;
    padding: 0;
    background-color: transparent;
    text-align: left;
}

.comments {
    border-top: 2px dashed #E25D48;
    clear: both;
    margin-top: 20px;
}

.poster {
    font-weight: bold;
}
