@import url('https://fonts.googleapis.com/css?family=News+Cycle|Open+Sans');

body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14pt;
}

h1, h2, h3 {
	font-family: "News Cycle", Arial, sans-serif;
}

h1 {
	font-size: 72pt;
}

h2 { 
	font-size: 38pt;
}

h3 { 
	font-size: 24pt;
}

p {
	margin-top: 1em;
}

b, strong {
    font-weight: bold;
}

i , em {
    font-style: italic;
}
sup {
    font-size:x-small; 
    vertical-align:top;
}

sub{
    font-size:x-small; 
    vertical-align:bottom;
}
    
ul > li {
    list-style: circle inside;
}


    