@import url('https://fonts.googleapis.com/css?family=News+Cycle|Open+Sans');

body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	color: #212121;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: "News Cycle", Arial, sans-serif;
	color: #212121;
}

h1 {
	font-size: 38pt;
}

h2 { 
	font-size: 24pt;
}

h3 { 
	font-size: 20pt;
}

p {
	margin-top: 1;
}

b, strong {
    font-weight: bold;
}

i , em {
    font-style: italic;
}
sup {
    font-size: 10px; 
    vertical-align:top;
}

sub{
    font-size:10px; 
    vertical-align:bottom;
}
    
ul > li {
    list-style: circle inside;
}

ol > li {
    list-style: upper-roman inside;
}

form {
    background-color: #F44436;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    width: 80%;
    height: auto;
    text-align: center;
	line-height: 1.25;
	
}

legend{
    font-family: "News Cycle", Arial, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;

}

input{
    border-width: 0px;
    padding: 5px;
    margin: 7px 0px;
    width: 150px;
}

textarea {
    resize: none;
	font-family: "News Cycle", Arial, sans-serif;
	padding: 10px;
	border: 0px;
}

label{
	font-family: "News Cycle", Arial, sans-serif;
	font-size: 16px;
    display: inline-block;
    width: 120px;
    text-align: left;
}

.button{
	 text-align: left;
     border-width: 0px;
     border-color: #202020;
     border-style: solid;
     background-color: #ffffff;
     color: #F44436;
     font-family: "News Cycle", Arial, sans-serif;
     font-size: 18px;
	 margin: 7px 0px;
	 padding: 3px 10px;
	 width: auto;
}

.create {
	padding-left: 41px;
	padding-right: 42px;
	margin-left: 5px;
	margin-right: 5px;
}

.create-post{
	width: 500px;
}

.custom-file-upload {
    
}

/* link */
header a {
    color: white;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	text-align: center;
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out;
	font-size: 16px;
}

/* mouse over link */
header a:hover {
    color: #E25D48;
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out;
}

/* selected link */
header a:active {
    color: #E25D48;
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out;
}

a {
	color: #E25D48;
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out;
}

/* header CSS */
header {
	height: 100px;
	background-color: #212121;
	color: white;
}

#logo > img {
	height:80px;
	margin: 10px;
}

nav {
	float: right;
	margin-top: 40px;
	margin-right: 20px;
}

.write-comment {
	width: 100%;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	color: #212121;
	line-height: 1.5;
	padding: 5px;
	border-color: #212121;
}

.comment-writing {
	float: right;
	width: 90%;
}

.poster-pic {
	float: left;
}
	
.comment {
	min-height: 150px; 
	clear: both;
}

.comment-button {
	background-color: #F44436;
	color: white;
}

.message {
	padding-left: 120px;
	padding-top: 10px;
}

.profile-pic {
	height: 100px;
}

.poster-details {
	float: left;
	height: 100%;
	padding-top: 15px;
}

main {
	padding-top: 20px;
	padding-bottom:20px;
	padding-left: 10%;
	padding: color #212121;
	text-align: justify;
	min-width: 790px;
	width: 80%;
	
}

/* footer css */

footer {
	padding: 15px;
	background-color: #212121;
	color: white;
	float: bottom;
	font-size: 14px;
	margin-top: 20px;
	padding-top: 10px;
	text-align: center;
}

footer ul li{
	display: inline-block;
	padding-left:4px; 
	padding-right:4px;
	font-size: 12px;
	border-left:2px dotted black;
}

/* for content page */

.post-image {
	width: 500px;
	height: 450px;
	padding-left: 10px;
	padding-top: 30px;
	padding-right: 15px;
	overflow: hidden;
	border: 5px #212121;
	

	
}

.map-placeholder {
	
	
	top: 225px;
	height: 225px;
	width: 500px;
	overflow: hidden;
	padding-top: 30px;
	
	border: 5px #212121;
	vertical-align: top;

	
	
	
}

.post-title{
	
	
}

/* styling for the invalid user message */
#invUsr{
	margin-top: 50px;
}