{% include header.html %}
<!-- Post Page -->
<!-- {{post_title}} -->
<div class="post-content">
<a class="post-title"> {{post.title}} </a>
<!-- {{profile_name}} -->
<!-- {{description}} -->
<a class ="profile-positioning">

  <figure class="profile-image">
      {% if poster.profile_picture == 'default.png'%}
      <img src="/static/profile.png" alt="Profile Image" style="width:150px;height:150px;">
      <!-- test if this works once upload pro_pic option is available -->
      {% else %}
      <img src = user.profile_picture>
      {% end if %}
      <figcaption class="username" > {{ poster.username }}</figcaption>
  </figure>

</a>



<img   src="/{{post.image}}" alt="" height="" width="" id = "post-image" class = "post-image">

<div id="map-placeholder" class="map-placeholder"></div>

<p class="post-description"> {{post.description}} </p>
<div>
<form action="" id="writer-comment">
  <label for "comment">Comment: </label>
  <input type="text" name="">
  <input type="submit" class="button">
</form>

{% for comment in comments %}
<div id="comment-box">
  <img src="" alt="" height="" width="" id="commenter-profile-picture">
  <h4>{{comment.username}}</h4>
  <p>
    {{comment.message}}
  </p>
</div>
{% end for %}

<script src="/static/geoFindMe.js"></script>
<script>
  mapForPosting({{post.location}});
</script>
{% include footer.html %}
