{% include header.html %}
<!-- Post Page -->
<!-- {{post_title}} -->
<h2> Post Title </h2>

<img   src="http://images.fineartamerica.com/images-medium-large-5/grafitti-two-alice-gipson.jpg" alt="" height="" width="" id = "post-image" class = "post-image">
<img  src="https://www.codeproject.com/KB/web-image/Google_map/sampleMap.JPG" alt="" height="" width="" id ="map-placeholder" class = "map-placeholder">
<img  src="" alt="" height="" width="" id ="profile-image" class = "profile-image">

<img src="" alt="" height="" width="" id="profile-picture">
<h4> {{profile_name}} </h4>
<h5> {{verified}} </h5>
<p> {{description}} </p>

<h3> {{comments_title}} </h3>
<img src="" alt="" height="" width="" id="writer-profile-picture">

<form action="" id="writer-comment">
  Comment: <input type="text" name="">
  <input type="submit">
</form>

{% for comment in comments %}
<div id="comment-box">
  <img src="" alt="" height="" width="" id="commenter-profile-picture">
  <h4>{{commenter_name}}</h4>
  <p>
    {{comment_text}}
  </p>
</div>
{% end for %}


{% include footer.html %}
