<!DOCTYPE html>
<html>
    <head>
        <title> Page title </title>
    </head>
    
    <body>
    
        <header>
            <h1>Site Name</h1>
            <nav>
                <a href="/page">Page Name</a>
             </nav>
        </header>
        
        <main>
            <h1>Header One</h1>
            <h2>Header Two</h2>
            <h3>Header Three</h3>
            <h4>Header Four</h4>
            <h5>Header Five</h5>
            <h6>Header Six</h6>
            
            <p> Here is a paragraph in regular font. <br>
            <strong> Here is strong. </strong>
            </p>
            
        </main>
        
        <footer>
            <p> This is the footer. Put stuff here.</p>
        </footer>
    
    </body>
</html>