{% include header.html %}

<h1>Header One</h1>
<h2>Header Two</h2>
<h3>Header Three</h3>
            
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere congue posuere. Morbi vitae nisi nibh. Vivamus congue ex ac ex tempus, non accumsan dui rutrum. Donec ac facilisis velit. Sed vitae augue at enim pretium ornare. Proin in pulvinar elit. Morbi eu turpis eu ex maximus porttitor sollicitudin at quam. Sed euismod elementum velit, sodales commodo lorem pharetra et. Aenean justo nunc, fermentum non tempus sit amet, cursus vel dolor. Curabitur commodo suscipit neque ut ultrices. Proin molestie et nulla eu viverra. Duis ultrices, nisl quis facilisis vehicula, enim sem cursus dui, in commodo risus eros at ante. Donec convallis diam id lacus consequat, vel fringilla metus pharetra. Duis at elementum risus. <br>
<p> Aenean in lobortis felis, vel varius justo. Fusce mi mi, porttitor id semper in, semper sed mi. Donec ultrices porta lacus, ut volutpat metus posuere nec. Vestibulum rutrum nibh nulla, ut placerat turpis porta sed. Etiam iaculis sem suscipit sapien porttitor mattis. Vestibulum ornare eros id felis ullamcorper sollicitudin. Fusce justo erat, hendrerit sed feugiat eget, gravida molestie sem. Donec vestibulum semper porttitor. Duis auctor orci ex, id pulvinar enim congue a. Sed dictum aliquet dui. Pellentesque lobortis at sem vel viverra. Proin luctus quam sapien, sed sodales leo venenatis eu. <br>
<strong> Here is strong. </strong> <em>Here is emphasised.</em> 
<br><b>Here is bold,</b> <i> and here is italics.</i>
<br>Here is <del>this thing</del>, and here is <sup>superscript</sup> and <sub>subscript</sub>.
</p>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere congue posuere. Morbi vitae nisi nibh. Vivamus congue ex ac ex tempus, non accumsan dui rutrum. Donec ac facilisis velit. Sed vitae augue at enim pretium ornare. Proin in pulvinar elit. Morbi eu turpis eu ex maximus porttitor sollicitudin at quam. Sed euismod elementum velit, sodales commodo lorem pharetra et. Aenean justo nunc, fermentum non tempus sit amet, cursus vel dolor. Curabitur commodo suscipit neque ut ultrices. Proin molestie et nulla eu viverra. Duis ultrices, nisl quis facilisis vehicula, enim sem cursus dui, in commodo risus eros at ante. Donec convallis diam id lacus consequat, vel fringilla metus pharetra. Duis at elementum risus. <br>
<p> Aenean in lobortis felis, vel varius justo. Fusce mi mi, porttitor id semper in, semper sed mi. Donec ultrices porta lacus, ut volutpat metus posuere nec. Vestibulum rutrum nibh nulla, ut placerat turpis porta sed. Etiam iaculis sem suscipit sapien porttitor mattis. Vestibulum ornare eros id felis ullamcorper sollicitudin. Fusce justo erat, hendrerit sed feugiat eget, gravida molestie sem. Donec vestibulum semper porttitor. Duis auctor orci ex, id pulvinar enim congue a. Sed dictum aliquet dui. Pellentesque lobortis at sem vel viverra. Proin luctus quam sapien, sed sodales leo venenatis eu. <br>
<strong> Here is strong. </strong> <em>Here is emphasised.</em> 
<br><b>Here is bold,</b> <i> and here is italics.</i>
<br>Here is <del>this thing</del>, and here is <sup>superscript</sup> and <sub>subscript</sub>.
</p>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere congue posuere. Morbi vitae nisi nibh. Vivamus congue ex ac ex tempus, non accumsan dui rutrum. Donec ac facilisis velit. Sed vitae augue at enim pretium ornare. Proin in pulvinar elit. Morbi eu turpis eu ex maximus porttitor sollicitudin at quam. Sed euismod elementum velit, sodales commodo lorem pharetra et. Aenean justo nunc, fermentum non tempus sit amet, cursus vel dolor. Curabitur commodo suscipit neque ut ultrices. Proin molestie et nulla eu viverra. Duis ultrices, nisl quis facilisis vehicula, enim sem cursus dui, in commodo risus eros at ante. Donec convallis diam id lacus consequat, vel fringilla metus pharetra. Duis at elementum risus. <br>
<p> Aenean in lobortis felis, vel varius justo. Fusce mi mi, porttitor id semper in, semper sed mi. Donec ultrices porta lacus, ut volutpat metus posuere nec. Vestibulum rutrum nibh nulla, ut placerat turpis porta sed. Etiam iaculis sem suscipit sapien porttitor mattis. Vestibulum ornare eros id felis ullamcorper sollicitudin. Fusce justo erat, hendrerit sed feugiat eget, gravida molestie sem. Donec vestibulum semper porttitor. Duis auctor orci ex, id pulvinar enim congue a. Sed dictum aliquet dui. Pellentesque lobortis at sem vel viverra. Proin luctus quam sapien, sed sodales leo venenatis eu. <br>
<strong> Here is strong. </strong> <em>Here is emphasised.</em> 
<br><b>Here is bold,</b> <i> and here is italics.</i>
<br>Here is <del>this thing</del>, and here is <sup>superscript</sup> and <sub>subscript</sub>.
</p>

<p>
<span>Here is span</span>.
<ol>
    <li>Here</li>
    <li>is</li>
    <li>a</li>
    <li>list</li>
</ol>
<ul>
    <li>Here</li>
    <li>is</li>
    <li>a</li>
    <li>list</li>
</ul>
</p>

<br>
<form action="/send_to" method="POST">
    <fieldset>
        <legend> 
            Login
        </legend>
        <label>Email: </label>
        <input type="text" name="email">
        <br>
        <label>Password: </label>
        <input type="text" name="password">
        <br>
        <input type="submit" value="Submit" class="button">
    </fieldset>
</form>


<a class="button"></a>
<button class="button"></button>
<input type="submit" class="button">
            
{% include footer.html %}