        </main>
		<footer>
			<ul>
				<li>Alana Huang</li>
				<li>Chris Harris</li>
				<li><strike>Damian Camilleri</strike></li>
				<li>David De Angelis</li>
				<li>Emma Reinke</li>
				<li>Erik Quick</li>
				<li>Hannie Nguyen</li>
				<li>Isaac Greene</li>
				<li>Kai Johnson</li>
				<li>Kevin Bai</li>
				<li>Maddie Mackey</li>
				<li>Robert Fraser</li>
				<li>Wenxi Ou</li>
				<li>Carmen Swan</li>
				<li>Monte Walker</li>
			</ul>
			<ul>
				<li>Renee Noble</li>
				<li>Maddie Wagner</li>
				<li>Matthew Alger</li>
				<li>Samuel Walladge</li>
				<li>Stephen Merity</li>
				<li>Lucy Dawkins</li>
			</ul>
			<br>
			<p>
				Copyright Group 4 &copy;
			</p>
        </footer>
        
    </body>
</html>