        </main>
            <head>
        <title>Demo</title>
        
		<link rel="stylesheet" type="text/css" href="footer.css">
    </head>
	
        <footer>
            <p> This is the footer. Put stuff here.</p>
			<ul>
				<li>Alana Huang</li>
				<li>Chris Harris</li>
				<li>Damian Canilleri</li>
				<li>David De Angelis</li>
				<li>Emma Reinke</li>
				<li>Erik Quick</li>
				<li>Hannie Nguyen</li>
				<li>Isaac Greene</li>
				<li>Kai Johnson</li>
				<li>Kevin Bai</li>
				<li>Maddy Mackey</li>
				<li>Robert Fraser</li>
				<li>Wenxi Ou</li>
				<li>Carmen Swan</li>
				<li>Monte Walker</li>
			</ul>
			<ul>
				<li>Renee Noble</li>
				<li>Maddy Wagner</li>
				<li>Mathew Alger</li>
				<li>Samual Walladge</li>
				<li>Stephen Merity</li>
				<li>Lucy Dawkins</li>
			</ul>
			<p>
				Copyright Group 4 &copy;
			</p>
        </footer>
        
    </body>
</html>