{% include header.html %}

<form action="/login" method="POST">
    <fieldset>
        <!-- Adds a cool box thing border around it with text on it -->
        <legend> 
            Log In
        </legend>
		<label>Email: </label>
        <input type="email" name="email">
        <label>Password: </label>
        <input type="password" name="password">
        <!-- <textarea>Value</textarea> Inserts a textbox with 'Value' in it-->
        <input type="submit" value="Submit">
		
		
		<!--style error message here -->
		
		<p>
		{% if invalidUser %}
		{{ invalidUser }}
		{% end if %}
        </p>
		
		
    </fieldset>
</form>

{% include footer.html %}