{% include header.html %}

<form action="/login" method="POST">
    <fieldset>
        
        <legend> 
            Log In
        </legend>
		<label>Email: </label>
        <input type="email" name="email">
		<br>
        <label>Password: </label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Submit" class="button">
		
		
		<!--style error message here -->
		
		<p id="invUsr">
		{% if invalidUser %}
		{{ invalidUser }}
		{% end if %}
        </p>
		
		
    </fieldset>
</form>

{% include footer.html %}