{% include header.html %}

{% if user %}<h4>Welcome, {{user.username}}.</h4>{% end if %}

<h3>About Street Line</h3>

<p>We are a locating and sharing service for anyone who sees interesting things on their streets. Just snap a picture and in a few easy steps share it with the world!</p>

{% if posts %}
    {% for post in posts %}
        <center>
        <h3>{{ post.title }}</h3>
        <img src="{{ post.image }}" style="width: 50%">
        </center>
    {% end for %}
{% end if %}
        
{% include footer.html %}
