{% include header.html %}

<script src="/static/geoFindMe.js"></script>

<link rel="stylesheet" href="/static/submit.css">

<form action="/submit" method="POST" enctype="multipart/form-data" class="create-post">

  <p id="invPst">
	{{ invalidPost }}
  </p>
  <fieldset>
      <legend>
          Create New Post
      </legend>
      <label class="title-label" for="title">Title: </label>
      <input type="text" name="title">
      
      <br>
      <label for="location">Location: </label>
      <input type="text" name="location" id="location"><button id="thebutton" type="button" onclick="geoFindMe(); this.style.display = 'none'">Use current location</button>
	  <br>
	  <div id="map"></div>
      
      <br>
      <label class="image-label" for="image">Upload Image: </label>
      <input type="file" name="postImage" accept='image/*'>
      
  <br>
      <textarea rows="10" cols="41" name="description">Enter a Description!</textarea>
      <br>
      <input type="submit" value="Preview" class="button create"> <input type="submit" value="Submit" class="button create">
  </fieldset>

</form>

{% include footer.html %}


	<!--<script>
	document.getElementById('location').onclick = function() {
		document.getElementById('location').setAttribute('disabled');
	};
	</script>-->
	  
  <!--<img id="map"/>
  Replace the value of the key parameter with your own API key. 
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs6LEx2djutDP5siKOfU5J1Dlsa2led-A&callback=initMap">
  </script>-->
  
  <!--<h3>My Google Maps Demo</h3>
  <div id="map"></div>
  Replace the value of the key parameter with your own API key. 
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs6LEx2djutDP5siKOfU5J1Dlsa2led-A&callback=initMap">
  </script> -->