{% include header.html %}

<div class='header_image'> </div>

<center>
<div class="newsfeed-image">
<center>
<h3>{{ user.username }}</h3>
<img src="/static/profile.png" style="width:150px">
<p>
Student from NCSS who something or rather.
</p>

<div class="history">
  <h3>Posts</h3>
  {% for post in posts %}
  <a href="/post/{{ post.id }}">{{ post.title }}</a>
  <br />
  <img src="{{ post.image }}" style="width: 64px">
  <br>
  {% end for %}
</div>

</center>
</div>
</center>

{% include footer.html %}
