{% include header.html %}

<div class="profile-image">
    👨
</div>

<div class="info">
  <h3>Profile</h3>
  <span class="username">{{ username }}</span>     <span class="verified-label">Verified? </span><span class="verifed">⭐ [yes]</span> 
  <br>
  Level: <span class="level">{{ level }}</span>
  <br>
  Upvotes: <span class="upvotes">{{ upvotes }}</span>  Downvotes: <span class="downvotes">{{ downvotes }}</span>
</div>

<div class="history">
  <h3>Past Posts</h3>
  <time>{{ date }}</time> <a href="google.com">Street Performance Coming Xmas!!</a>
  <br>
  <time>{{ date }}</time> <a href="google.com">Statue of Aristotle</a>
</div>

<div class="images">
  <h3>Images</h3>
  <div>No maps / images</div>
</div>

<div class="description">
  <h3>Description</h3>
  <div>{{ username }} hasn't written anything yet</div>
</div>

{% include footer.html %}