{% include header.html %}

<div class='header_image'> </div>

<figure class="profile-image">
    {% if user.profile_picture == 'default.png'%} 
    <img src = '/static/profile.png' alt="Profile Picture" style="width:150px;height:150px;">
    <!-- test if this works once upload pro_pic option is available -->
    {% else %}
    <img src = user.profile_picture>
    {% end if %}
    <figcaption class="username" > {{ user.username }}</figcaption>
</figure>

<div class="description">
  <h3>Description</h3>
  <p>{{user.description}}</p>
</div>

<div class="history">
  <h3>Past Posts</h3>
  {% for post in posts %}
  <time>{{ date }}</time> <a href="/post/{{ post.id }}">{{ post.title }}</a>
  <br>
  {% end for %}
</div>

<div class="images">
  <h3>Images</h3>
  <div>No maps / images</div>
</div>

{% include footer.html %}
