<!DOCTYPE html>
<html>
    <form action="/register" method="POST">
        <fieldset>
            <legend><!-- Adds a cool box thing border around it with text on it --> 
                Sign Up
            </legend>
            <p>
                <label>Name: </label>
                <input type="text" name="name">
            </p>
            <p>
                <label>Email: </label>
                <input type="text" name="email">
            </p>
            <p>
                <label>Password: </label>
                <input type="password" name="password">
            </p>
            <p>
                <label>Retype Password: </label>
                <input type="password" name="confpassword">
            </p>
            <p>
            <!-- <textarea>Value</textarea> Inserts a textbox with 'Value' in it-->
            <input type="submit" value="Submit">
            </p>
        </fieldset>
    </form>
</html>