{% include header.html %}

<form action="/signup" method="POST">
    <fieldset>
        <legend>
            Sign Up
        </legend>
        <label for="name">Name: </label>
        <input type="text" name="name">
		<br>
        <label for="email">Email: </label>
		<input type="email" name="email">
		<br>
		<label for="password">Password: </label>
		<input type="password" name="password">
		<br>
		<label>Retype Password: </label>
		<input type="password" name="confpassword">
        <br>

        <!-- delete the below if not enough time!!! -->
        <label id = 'describe_label' for="description">Description: </label>
        <br>
        <textarea rows="10" cols="43" name="usr_describe" placeholder="Describe yourself! This'll go onto your profile page!"></textarea>
        <br>

        <!-- BUT KEEP THE SUBMIT!!! -->
        <input type="submit" value="Submit" class="button">


		<p id="errorMsg">
		{% if errorMessage %}
		{{ errorMessage }}
		{% end if %}
		</p>
    </fieldset>
</form>

{% include footer.html %}
